absl-py==0.7.1
astor==0.7.1
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.0.2
gast==0.2.2
googledrivedownloader==0.3
grpcio==1.20.1
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
MarkupSafe==1.1.1
mock==3.0.5
nmslib==1.7.3.6
numexpr==2.6.9
numpy==1.16.3
pandas==0.24.2
pathlib==1.0.1
Pillow==6.0.0
protobuf==3.7.1
pybind11==2.2.4
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
scikit-learn==0.21.1
scipy==1.2.1
six==1.12.0
sklearn==0.0
soupsieve==1.9.1
tables==3.5.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.2
Werkzeug==0.15.4
